*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-image: url(../imagem/ft-fundo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}

header{
    background-color:transparent;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    max-width: 100vw;
    position: sticky;
}

.fa-bars{
    display: block;
}

.fa-solid:hover{
    cursor: pointer;
}

#lista-header{
    display: none;
}

#menu{
    background-color:white;
    width: 80%;
    height:calc(100dvh - 100px);
    position: fixed;
    display: none;
    border-radius: 0px 10px 10px 0px;
}

li{
    
    margin-bottom: 5px;
    padding: 10px;
    text-align: center;
}

#menu h3:hover , li:hover{
    background-color:rgba(128, 128, 128, 0.718);
    cursor: pointer;
}

.logo{
    display: flex;
    align-items: center;
    color:blue;
}

main{
    width: 100vw;
    height:calc(100vh - 150px);
    display: flex;
    justify-content: center;
    align-items: center;
}

#login{
    background-color:transparent;
    width:90%;
    height:80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}

form{
    display: flex;
    flex-direction: column;
}

input{
    border: none;
    border-radius: 8px;
    width:300px;
    padding: 10px;
    margin: 5px 0px;
    color:black;
}

input:hover{
    cursor: pointer;
}

#sing{
    background-color :rgb(165, 3, 122);
    color: white;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    text-decoration: underline;
}

span{
    color:rgb(165, 3, 122);
    font-size: 1.3em;
}

h3{
    text-align: center;
    margin-bottom: 10px;
    padding: 10px;
}

#welcome{
    display: none;
}

@media screen and (min-width:992px){

    #login{
        background-color: rgba(2, 73, 82, 0.685);
        width: 35%;
        border-radius: 0px 10px 10px 0px;
    }

    #welcome{
        display: block;
        background-color: rgba(0, 0, 0, 0.685);
        height:80%;
        width: 55%;
        color: white;
        border-radius: 10px 0px 0px 10px;
    }

    #welcome div{
        margin: 25px auto;
    }

    .logo-wel{
        padding: 10px;
    }

    .center{
        text-align: center;
    }

    .text-center{
        width: 70%;
        margin: auto;
        text-align: justify;
    }

    #redes ul{
        list-style: none;
        display: flex;
        justify-content: center;
    }

    .fa-bars{
        display: none;
    }

    #lista-header{
        display: block;
    }

    #lista-header ul{
        list-style: none;
        display: flex;
        color: white;
        font-size: 1.2em;
    }

    #lista-header ul li:hover{
        color: rgb(8, 70, 243);
        background-color: transparent;
    }

     #redes ul{
        font-size: 1.4em;
     }

    #redes ul li:hover{
       color: rgb(8, 70, 243);
       background-color: transparent; 
    }

   .logo2{
    display: none;
   }
    
    
}

@media screen and (min-width:1550px){

   body{
    background-image: url(../imagem/fundo-alta-resolução.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
   } 
   
   #login{
    height: 72%;
   }

   #welcome{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    background-color: rgba(0, 0, 0, 0.367);
    height: 72%;
   }

   #welcome h2 , h1 , span{
    font-size: 3em;
   }

    #welcome h3{
        font-size: 2em;
    }

     #welcome p{
        font-size: 1.3em;
    }

    .text-center{
        width: 60%;
        height: 40%;
        padding: 10px;
    }

    #redes{
        font-size: 1.5em;
    }

    #welcome .logo-wel{
        margin-left: 40px;
    }

    #formulario{
        width: 90%;
    }

    #formulario #sing, #log{
        width: 90%;
        margin:10px 0px;
        padding: 10px;
        font-size: 1.1em;
        font-weight: 500;
    }
    
    form{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    a{
        font-size: 1.3em;
    }

    header h2 , span{
        font-size: 2em;
    }

    header li{
        font-size: 1.3em;
    }

    #welcome div{
        margin: auto;
    }


    
}